*{
    margin: 0px;
    padding: 0px; 
   }
   .division1{
     background-image:url('./assets/Smart-Farmer.jpeg') ;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
       padding:50px;
    
   }
  
   #organic1{
     color: orangered;
     font-size:50px;
   }
   .child1{
    margin-top:5rem;
    margin-bottom: 10rem;
    text-align: justify;
    color:whitesmoke;
    font-size: 20px;
    font-weight: 500;
  }

  .work{
    text-align: center;
    color: aliceblue;
    padding-top: 20px;
  }
  .high{
    height: 16rem;
  }
  .bor{
    border:none;
  }
  .icon{
    color: green;
    font-size: 50px;
  }


 




.footer{
	background-color: #24262b;
    padding: 20px;
    line-height: 1.5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}






.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom:20px;
	font-weight: 500;
	
}


.footer-col p{
	color:white;
	margin-top:20px;
}

.footer-col a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
@media(max-width: 300px){
	.footer-col{
	  width: 100%;
   }
  .footer-col h2{
	  font-size: 25px;
  }
  
  }